@page
@model freelancer.Pages.Users.RegisterModel
@{
}

<br />
<h2>Register User</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" area-lable="Close"></button>
    </div>
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.user.name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Mail</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="mail" value="@Model.user.mail" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="phone" value="@Model.user.phone" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Skillsets</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="skillsets" value="@Model.user.skillsets" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Hobby</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="hobby" value="@Model.user.hobby" />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-succcess alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <button class="btn btn-outline-primary" href="/" role="button">Cancel</button>
        </div>
    </div>
</form>